.deposit{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.iunputWraper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.inputAm{
    /* border: 2px solid red; */
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.inputAm input{
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    height: 30px;
}

